## intellij stuff
.idea/

## used to verify sample generation
message_samples/widgettest/

*~
*.DS_Store
*.iml
*.ipr
*.iws
*.project
target
.classpath
.settings
wadl/product.wadl
generated_product_xsds/*
core_xsd/usage.xsd
TODO.org

